[2021-11-05 03:34] ZubairSidhu opened #1 "[Hotfix] Fix heroku dependencies"

[2021-11-05 03:34] ZubairSidhu commented on #1
/cib zs-hotfix-heroku-dependencies

[2021-11-05 03:35] ctc-devops commented on #1
Branch [1-zs-hotfix-heroku-dependencies](https://github.com/ctc-uci/find-your-anchor-frontend/tree/1-zs-hotfix-heroku-dependencies) created!

[2021-11-05 03:54] #1 closed

[2021-11-13 03:12] meghakak opened #3 "Integrate Chakra UI Kit"

[2021-11-13 03:15] sylvesteryue opened #4 "Create basic frontend routes"
Create routes for:

- / -- root page will be general dashboard
- /admin
- /login
- /dropoff-form
- /pickup-form

[2021-11-13 03:22] meghakak commented on #3
/cib mk-sy-integrate-chakra-ui-kit

[2021-11-13 03:22] ctc-devops commented on #3
Branch [3-mk-sy-integrate-chakra-ui-kit](https://github.com/ctc-uci/find-your-anchor-frontend/tree/3-mk-sy-integrate-chakra-ui-kit) created!

[2021-11-13 03:49] #3 closed, assigned to meghakak, sylvesteryue

[2021-11-14 20:34] meghakak opened #7 "Test issue"

[2021-11-14 20:35] meghakak commented on #7
/cib mk test issue

[2021-11-14 20:35] ctc-devops commented on #7
Branch [7-mk-test-issue](https://github.com/ctc-uci/find-your-anchor-frontend/tree/7-mk-test-issue) created!

[2021-11-14 20:39] #7 closed, assigned to sylvesteryue

[2021-11-20 20:07] dgardezi commented on #4
/cib dg frontend routes

[2021-11-20 20:07] ctc-devops commented on #4
Branch [4-dg-frontend-routes](https://github.com/ctc-uci/find-your-anchor-frontend/tree/4-dg-frontend-routes) created!

[2021-11-21 07:31] meghakak opened #10 "Build Basic Map Component"
- Integrate Leaflet API into webapp
- Add map component onto dashboard (root page)
- Test key functionality and map components (e.g. how to add markers/pins on the map, searching for a specific location, zooming in/out of the map, etc). It would be helpful to document anything you find that is useful.

[2021-11-21 07:45] meghakak opened #11 "Admin Dashboard: Box Approval/Denied Section"
- Develop frontend component for approval/denied section on the Admin Dashboard page
- Build a separate component for the individual Box Information with all the details listed on the mockup
- [Figma Sheet](https://www.figma.com/file/y30pb19CamcegHG7Oh4lJC/FYA-Low-Fidelity-Wireframes)

[2021-11-23 23:28] #4 closed, assigned to JulesLabador, dgardezi, merylmarasigan, jennymylee

[2021-11-29 06:32] claudeisakeeb commented on #10
/cib 10 basic map component

[2021-11-29 06:33] ctc-devops commented on #10
Branch [10-10-basic-map-component](https://github.com/ctc-uci/find-your-anchor-frontend/tree/10-10-basic-map-component) created!

[2021-12-04 01:12] dgardezi commented on #11
/cib dg box approval section

[2021-12-04 01:13] ctc-devops commented on #11
Branch [11-dg-box-approval-section](https://github.com/ctc-uci/find-your-anchor-frontend/tree/11-dg-box-approval-section) created!

[2021-12-05 05:45] Vakhshoori101 opened #15 "[hotfix] Fix ESLint reviewdog issue"

[2021-12-05 05:46] Vakhshoori101 commented on #15
/cib hotfix eslint reviewdog issue

[2021-12-05 05:46] ctc-devops commented on #15
Branch [15-hotfix-eslint-reviewdog-issue](https://github.com/ctc-uci/find-your-anchor-frontend/tree/15-hotfix-eslint-reviewdog-issue) created!

[2021-12-05 06:00] #15 closed, assigned to Vakhshoori101

[2022-01-07 01:28] meghakak opened #17 "Create Admin Add Box Form"
Create the add box form that admins will use to add individual boxes to the map.

[2022-01-07 01:28] sylvesteryue opened #18 "Dashboard Map Component"
- Customize Map Component
- Follow Figma Design
- Show number of boxes on pin
- Clicking the pin should open popup with boxes

*Note: No need to add boxes to database for now

[2022-01-07 01:34] sylvesteryue opened #19 "Admin Dashboard Approval Process Update"
- Figma designs have been modified
- Update changes made for the admin dashboard
- connect to backend

[2022-01-09 20:13] #10 closed, assigned to zhajee, claudeisakeeb, kylerpan, austruong

[2022-01-09 23:37] kylerpan commented on #18
/cib dashboard map component

[2022-01-09 23:37] ctc-devops commented on #18
Branch [18-dashboard-map-component](https://github.com/ctc-uci/find-your-anchor-frontend/tree/18-dashboard-map-component) created!

[2022-01-11 01:23] aliu55 commented on #17
/cib al admin add box form

[2022-01-11 01:23] ctc-devops commented on #17
Branch [17-al-admin-add-box-form](https://github.com/ctc-uci/find-your-anchor-frontend/tree/17-al-admin-add-box-form) created!

[2022-01-12 01:11] aliu55 commented on #17
/cib al add box form

[2022-01-12 01:11] ctc-devops commented on #17
Branch already exists

[2022-01-15 22:14] JulesLabador commented on #19
/cib jl admin-dashboard

[2022-01-15 22:15] ctc-devops commented on #19
Branch [19-jl-admin-dashboard](https://github.com/ctc-uci/find-your-anchor-frontend/tree/19-jl-admin-dashboard) created!

[2022-01-16 00:16] meghakak opened #23 "Create Admin Navbar"
- Follow the Figma mid fidelity designs for the admin navbar.
- Add additional routes as needed.

[2022-01-22 18:05] JulesLabador commented on #11
Reopening issue, was accidentally closed.

[2022-01-23 02:34] #11 closed, assigned to JulesLabador, dgardezi, merylmarasigan, jennymylee

[2022-01-23 22:34] meghakak commented on #19
For Sprint #5 - add approval process for messages. See Figma sheet for more details
![image](https://user-images.githubusercontent.com/25851212/150700687-92ed01af-445c-4bc5-9f00-8b2815e706aa.png)

[2022-01-23 22:37] sylvesteryue opened #28 "Export CSV Page - filtering section"
- Follow [Figma](https://www.figma.com/file/y30pb19CamcegHG7Oh4lJC/FYA-Low-Fidelity-Wireframes?node-id=0%3A1) designs for the Export CSV section (follow concept number 2)
- implement filtering features (right side of page)

[2022-01-25 19:55] JulesLabador commented on #19
Hi @meghakak , which approval process messages are you referring to? Do you mean adding placeholders?

[2022-01-27 02:49] kylerpan commented on #28
/cib export csv page - filtering section

[2022-01-27 02:49] ctc-devops commented on #28
Branch [28-export-csv-page---filtering-section](https://github.com/ctc-uci/find-your-anchor-frontend/tree/28-export-csv-page---filtering-section) created!

[2022-01-30 04:56] austruong commented on #28
/cib export csv page - filtering section

[2022-01-30 04:56] ctc-devops commented on #28
Branch already exists

[2022-02-04 02:45] #18 closed, assigned to zhajee, kylerpan, austruong

[2022-02-06 22:51] sylvesteryue opened #34 "Upload CSV Page"
- Follow [Figma ](https://www.figma.com/file/y30pb19CamcegHG7Oh4lJC/FYA-Wireframes?node-id=0%3A1)designs for the Mass Upload CSV pages
- parse through CSV file so that data is can populate box tables
- Connect to backend via add box route

[2022-02-06 22:53] meghakak opened #35 "Admin Profile Page"
Follow Figma design for the admin profile page. Communicate with Jade about the registration link popup (this should be changed so the user needs to enter an email address to send the registration link to).

Note: No need to work on functionality for sending the registration link (auth team is working on this).

[2022-02-11 19:26] zhajee commented on #35
/cib admin-profile-page

[2022-02-11 19:26] ctc-devops commented on #35
Branch [35-admin-profile-page](https://github.com/ctc-uci/find-your-anchor-frontend/tree/35-admin-profile-page) created!

[2022-02-12 02:24] kylerpan commented on #23
/cib admin-navbar

[2022-02-12 02:24] ctc-devops commented on #23
Branch [23-admin-navbar](https://github.com/ctc-uci/find-your-anchor-frontend/tree/23-admin-navbar) created!

[2022-02-12 02:24] aliu55 commented on #34
/cib upload-csv-page

[2022-02-12 02:25] ctc-devops commented on #34
Branch [34-upload-csv-page](https://github.com/ctc-uci/find-your-anchor-frontend/tree/34-upload-csv-page) created!

[2022-02-14 08:01] #28 closed, assigned to nobody

[2022-02-15 21:28] ZubairSidhu opened #40 "Convert Export CSV Page to React Hook Form w/ Yup validation"
- [RHF w/ Yup schema validation example](https://react-hook-form.com/get-started#SchemaValidation)
- [RHF API documentation](https://react-hook-form.com/api)
- [Yup Documentation](https://github.com/jquense/yup)

[2022-02-15 21:29] ZubairSidhu commented on #40
/cib export csv to rhf

[2022-02-15 21:29] ctc-devops commented on #40
Branch [40-export-csv-to-rhf](https://github.com/ctc-uci/find-your-anchor-frontend/tree/40-export-csv-to-rhf) created!

[2022-02-17 07:47] #23 closed, assigned to kylerpan, aliu55

[2022-02-18 05:17] #17 closed, assigned to nobody

[2022-02-18 07:26] ZubairSidhu opened #43 "Convert add box form to React Hook Form"
[React Hook Form](https://react-hook-form.com/)

[2022-02-18 07:29] ZubairSidhu commented on #43
/cib add box to rhf

[2022-02-18 07:30] ctc-devops commented on #43
Branch [43-add-box-to-rhf](https://github.com/ctc-uci/find-your-anchor-frontend/tree/43-add-box-to-rhf) created!

[2022-02-19 11:31] #43 closed, assigned to ZubairSidhu

[2022-02-20 23:49] meghakak opened #46 "Finish Export CSV Page"
- Add table preview based on Figma design
- Update format to follow new Figma design
- Update date dropdown to be All, Single Date, Range instead of Custom.
- Change Launched Organically field to match design
- Connect to backend

[2022-02-20 23:53] meghakak commented on #34
For Sprint #7:
- Add error handling on table view (error should show a red outline and exclamation point)
- Connect table view to backend

Please aim to finish this in a week and request review as soon as you finish.

[2022-02-20 23:57] meghakak opened #47 "General User Relocation Box Form"
- Follow Figma design for this form
- Use React Hook Forms (https://react-hook-form.com/advanced-usage#CustomHookwithResolver)
- Connect to backend (add to Box History table)

[2022-02-21 00:05] meghakak opened #48 "Admin Approval Process Emailing"
- Find emailing API to use for sending emails (maybe check firebase if there's a way to email directly using this API)
- Send emails when admin approves, requests changes, or rejects box submission
- Communicate with design on what each email should contain

[2022-02-21 00:07] meghakak opened #49 "General User Pickup Box Form"
- Follow Figma design for pickup box form
- Use React Hook Forms (https://react-hook-form.com/advanced-usage#CustomHookwithResolver)
- Communicate with Relocation Box Form team for backend connection.

[2022-02-21 00:08] claudeisakeeb opened #50 "Login & Register Form"
- Follow Figma designs
- Use React Hook Form: https://react-hook-form.com/advanced-usage#CustomHookwithResolver
- Don't worry about backend until auth is merged

[2022-02-21 00:12] jeffcheema opened #51 "Implement Toast Component for Errors"
- Follow Figma Design
- Use the [Chakra Toast component](https://chakra-ui.com/docs/feedback/toast )

[2022-02-21 02:16] ZubairSidhu commented on #47
/cib user relocation form

[2022-02-21 02:16] ctc-devops commented on #47
Branch [47-user-relocation-form](https://github.com/ctc-uci/find-your-anchor-frontend/tree/47-user-relocation-form) created!

[2022-02-23 19:10] dgardezi commented on #50
/cib login register form

[2022-02-23 19:10] ctc-devops commented on #50
Branch [50-login-register-form](https://github.com/ctc-uci/find-your-anchor-frontend/tree/50-login-register-form) created!

[2022-02-23 21:42] sylvesteryue commented on #51
/cib common alert banner

[2022-02-23 21:42] ctc-devops commented on #51
Branch [51-common-alert-banner](https://github.com/ctc-uci/find-your-anchor-frontend/tree/51-common-alert-banner) created!

[2022-02-25 20:53] meghakak commented on #49
/cib general user pickup form

[2022-02-25 20:53] ctc-devops commented on #49
Branch [49-general-user-pickup-form](https://github.com/ctc-uci/find-your-anchor-frontend/tree/49-general-user-pickup-form) created!

[2022-02-26 04:45] ZubairSidhu opened #56 "Layout Component"
Layout component to wrap all pages that need access to the header.

[2022-02-26 04:45] ZubairSidhu commented on #56
/cib layout component

[2022-02-26 04:45] ctc-devops commented on #56
Branch [56-layout-component](https://github.com/ctc-uci/find-your-anchor-frontend/tree/56-layout-component) created!

[2022-03-01 22:05] claudeisakeeb opened #59 "Integrate admin authentication"

[2022-03-01 22:05] claudeisakeeb commented on #59
/cib integrate admin auth

[2022-03-01 22:06] ctc-devops commented on #59
Branch [59-integrate-admin-auth](https://github.com/ctc-uci/find-your-anchor-frontend/tree/59-integrate-admin-auth) created!

[2022-03-02 07:14] ZubairSidhu commented on #47
Will be working on [49-general-user-pickup-form](https://github.com/ctc-uci/find-your-anchor-frontend/pull/55)

[2022-03-02 22:11] claudeisakeeb commented on #48
/cib aap emailing

[2022-03-02 22:11] ctc-devops commented on #48
Branch [48-aap-emailing](https://github.com/ctc-uci/find-your-anchor-frontend/tree/48-aap-emailing) created!

[2022-03-03 05:11] #56 closed, assigned to ZubairSidhu

[2022-03-06 23:50] claudeisakeeb opened #62 "Admin dashboard right sidebar"
- Follow Figma designs
- Update the map to reflect approved boxes in backend
- Implement the right sidebar of the admin dashboard

[2022-03-06 23:50] meghakak opened #63 "Update Add Box Form Design"
- Update the Add Box Form to match the mid-fidelity Figma design

[2022-03-06 23:51] claudeisakeeb opened #64 "Reject image"
- Follow Figma designs
- Give admins the ability to approve/reject an image in the left sidebar of the admin dashboard
- Image should be removed if rejected

[2022-03-06 23:55] jeffcheema opened #65 "Forget/Reset Password Pages"
- Follow Figma designs
- Use React Hook Form: https://react-hook-form.com/advanced-usage#CustomHookwithResolver
- Don't worry about backend until auth is merged
- Should be structured similar to login and register pages if possible, use the [TextInput and PasswordInput components](https://github.com/ctc-uci/find-your-anchor-frontend/tree/50-login-register-form/src/components/Inputs)

[2022-03-07 01:45] claudeisakeeb commented on #64
/cib reject image

[2022-03-07 01:45] ctc-devops commented on #64
Branch [64-reject-image](https://github.com/ctc-uci/find-your-anchor-frontend/tree/64-reject-image) created!

[2022-03-07 20:52] #19 closed, assigned to nobody

[2022-03-07 20:56] #35 closed, assigned to zhajee, ZubairSidhu, austruong

[2022-03-08 02:54] jennymylee commented on #62
/cib right sidebar

[2022-03-08 02:55] ctc-devops commented on #62
Branch [62-right-sidebar](https://github.com/ctc-uci/find-your-anchor-frontend/tree/62-right-sidebar) created!

[2022-03-08 20:42] #50 closed, assigned to jeffcheema, dgardezi

[2022-03-11 17:19] aliu55 commented on #63
/cib al-update-add-box-form

[2022-03-11 17:20] ctc-devops commented on #63
Branch [63-al-update-add-box-form](https://github.com/ctc-uci/find-your-anchor-frontend/tree/63-al-update-add-box-form) created!

[2022-03-12 00:54] austruong commented on #65
/cib forget/reset-password-pages

[2022-03-12 00:54] ctc-devops commented on #65
Branch [65-forget/reset-password-pages](https://github.com/ctc-uci/find-your-anchor-frontend/tree/65-forget/reset-password-pages) created!

[2022-03-18 19:53] #48 closed, assigned to nobody

[2022-03-23 02:49] meghakak opened #70 "Implement search by box number on dashboard"
Add the ability to search for a specific box number to the search bar on the admin and general user dashboard. Once the user searches for a box number, that box should open and the map should zoom into that box's zip code.

[2022-03-25 02:13] #64 closed, assigned to claudeisakeeb, merylmarasigan, jennymylee

[2022-03-25 07:17] #34 closed, assigned to kylerpan, aliu55

[2022-03-30 21:29] claudeisakeeb opened #71 "Admin Approval Process Dogfooding Bugs"
Reference: https://docs.google.com/document/d/12VIkn9-iet9nRUiLaQjT_Y9oR2ggOaREwxJ4twXSYjo/edit

[2022-03-30 21:29] claudeisakeeb commented on #71
/cib aap bugs

[2022-03-30 21:30] ctc-devops commented on #71
Branch [71-aap-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/71-aap-bugs) created!

[2022-04-01 08:48] #47 closed, assigned to nobody

[2022-04-01 08:48] #49 closed, assigned to nobody

[2022-04-02 06:02] #65 closed, assigned to sylvesteryue, austruong

[2022-04-02 19:07] #62 closed, assigned to claudeisakeeb, merylmarasigan, jennymylee

[2022-04-03 21:47] sylvesteryue opened #73 "Implement search by box number"
- implement search feature on map to be able to find location of pin with box number

[2022-04-03 21:48] #73 closed, assigned to claudeisakeeb

[2022-04-03 21:49] sylvesteryue opened #74 "Export CSV Mobile View"
- implement the mobile view for the CSV page

[2022-04-03 21:49] sylvesteryue opened #75 "Auth Pages Mobile View"
- implement mobile views for auth pages (login, register, forgot password, reset password)

[2022-04-03 21:52] meghakak opened #76 "Add Country to All Forms & Use Nominatim API to Convert to Lat/Long"
- Country field should be added to Add Box, Relocate Box, Pickup Box Form
- Convert zipcode/country to long/lat using Nominatim API when submitting Add Box Form and Upload CSV
- Please use the conversion function in utils [here](https://github.com/ctc-uci/find-your-anchor-frontend/blob/dev/src/common/utils.jsx#L69)

[2022-04-03 21:53] claudeisakeeb opened #77 "Add Marker Clusters to Map"
- A "clustered" marker should always be labeled with the total number of boxes in the zip codes represented by all of the clustered markers
- Until Figma designs are added, make the "clustered" markers blue circles with white text
- Cluster by country for now
- Highly recommend using react-leaflet-markercluster

[2022-04-03 21:53] claudeisakeeb opened #78 "General User Dashboard"
- The general user dashboard is the same thing as the admin dashboard without the box approval component and the personal information in boxes in the right side bar
- General user dashboard should be at root path (localhost:3000)
- Move admin dashboard to the root path
- Add conditional rendering to only show admin components if logged in as admin

[2022-04-03 21:56] sylvesteryue opened #79 "Delete boxes"
- implement deleting boxes, last transaction will come after we get confirmation with NPO on how boxes are displayed on the map

[2022-04-03 21:57] claudeisakeeb opened #80 "Fix 3 Admin Approval Process Bugs Pt 1"
Please fix bugs 2, 3, and 7 on the [dogfooding doc](https://docs.google.com/document/d/12VIkn9-iet9nRUiLaQjT_Y9oR2ggOaREwxJ4twXSYjo/edit#)

[2022-04-03 21:58] meghakak opened #81 "Connect Auth Funtionality to Forgot/Reset Password Pages"

[2022-04-03 21:58] claudeisakeeb opened #82 "Fix 3 Admin Approval Process Bugs Pt 2"
Please fix bugs 1, 8, and 9 on the [dogfooding doc](https://docs.google.com/document/d/12VIkn9-iet9nRUiLaQjT_Y9oR2ggOaREwxJ4twXSYjo/edit#)

[2022-04-03 21:59] claudeisakeeb opened #83 "Fix Export & Upload CSV bugs"
Please fix bugs 4 and 14 on the [dogfooding doc](https://docs.google.com/document/d/12VIkn9-iet9nRUiLaQjT_Y9oR2ggOaREwxJ4twXSYjo/edit#)

[2022-04-03 22:00] claudeisakeeb opened #84 "Fix Add Box Form bugs"
Fix bugs 19 and 21 on the [dogfooding doc](https://docs.google.com/document/d/12VIkn9-iet9nRUiLaQjT_Y9oR2ggOaREwxJ4twXSYjo/edit#)

[2022-04-03 22:00] meghakak opened #85 "Implement Toast for Remaining Components"
Add toasts for the following components:
- Export CSV
- Upload CSV
- Auth pages - login, register, forgot password, reset password
- Relocate box form
- Pickup box form

[2022-04-03 22:05] #71 closed, assigned to nobody

[2022-04-03 22:34] #59 closed, assigned to nobody

[2022-04-03 23:27] claudeisakeeb commented on #70
/cib search box

[2022-04-03 23:27] claudeisakeeb commented on #79
/cib delete box

[2022-04-03 23:27] ctc-devops commented on #70
Branch [70-search-box](https://github.com/ctc-uci/find-your-anchor-frontend/tree/70-search-box) created!

[2022-04-03 23:27] ctc-devops commented on #79
Branch [79-delete-box](https://github.com/ctc-uci/find-your-anchor-frontend/tree/79-delete-box) created!

[2022-04-04 03:50] meghakak commented on #84
/cib fix add box form bugs

[2022-04-04 03:50] ctc-devops commented on #84
Branch [84-fix-add-box-form-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/84-fix-add-box-form-bugs) created!

[2022-04-04 04:18] meghakak commented on #81
/cib connect auth to forgot reset password

[2022-04-04 04:18] ctc-devops commented on #81
Branch [81-connect-auth-to-forgot-reset-password](https://github.com/ctc-uci/find-your-anchor-frontend/tree/81-connect-auth-to-forgot-reset-password) created!

[2022-04-04 19:54] dgardezi commented on #75
/cib auth pages mobile view

[2022-04-04 19:54] ctc-devops commented on #75
Branch [75-auth-pages-mobile-view](https://github.com/ctc-uci/find-your-anchor-frontend/tree/75-auth-pages-mobile-view) created!

[2022-04-05 00:55] Preston-Young commented on #83
/cib fix export and upload csv bugs

[2022-04-05 00:55] ctc-devops commented on #83
Branch [83-fix-export-and-upload-csv-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/83-fix-export-and-upload-csv-bugs) created!

[2022-04-05 23:11] merylmarasigan commented on #80
/cib fix 3 admin approval process bugs pt 1

[2022-04-05 23:11] ctc-devops commented on #80
Branch [80-fix-3-admin-approval-process-bugs-pt-1](https://github.com/ctc-uci/find-your-anchor-frontend/tree/80-fix-3-admin-approval-process-bugs-pt-1) created!

[2022-04-05 23:24] jennymylee commented on #78
/cib gen-user-dash

[2022-04-05 23:25] ctc-devops commented on #78
Branch [78-gen-user-dash](https://github.com/ctc-uci/find-your-anchor-frontend/tree/78-gen-user-dash) created!

[2022-04-06 01:46] #81 closed, assigned to meghakak

[2022-04-06 01:55] aliu55 commented on #77
/cib marker clusters

[2022-04-06 01:55] ctc-devops commented on #77
Branch [77-marker-clusters](https://github.com/ctc-uci/find-your-anchor-frontend/tree/77-marker-clusters) created!

[2022-04-06 05:09] aliu55 commented on #76
/cib add country to forms

[2022-04-06 05:09] ctc-devops commented on #76
Branch [76-add-country-to-forms](https://github.com/ctc-uci/find-your-anchor-frontend/tree/76-add-country-to-forms) created!

[2022-04-07 01:08] #63 closed, assigned to nobody

[2022-04-07 01:08] #84 closed, assigned to meghakak

[2022-04-07 03:01] #40 closed, assigned to ZubairSidhu, kylerpan

[2022-04-07 03:01] #46 closed, assigned to nobody

[2022-04-07 21:17] ZubairSidhu opened #98 "WIP: Heroku Backend Deployments"
**Do not merge!**

Attempting to deploy both frontend and backend on heroku.

[2022-04-07 21:17] ZubairSidhu commented on #98
/cib heroku backend deployment

[2022-04-07 21:18] ctc-devops commented on #98
Branch [98-heroku-backend-deployment](https://github.com/ctc-uci/find-your-anchor-frontend/tree/98-heroku-backend-deployment) created!

[2022-04-09 22:49] ZubairSidhu opened #101 "WIP: Heroku backend deployment with heroku.yml"
**Do not merge!**

Attempting to deploy both frontend and backend on heroku.

[2022-04-09 22:49] ZubairSidhu commented on #101
/cib heroku yml

[2022-04-09 22:49] ctc-devops commented on #101
Branch [101-heroku-yml](https://github.com/ctc-uci/find-your-anchor-frontend/tree/101-heroku-yml) created!

[2022-04-11 19:59] meghakak opened #104 "Fix Upload CSV Bug #17"
Please fix bug 17 on the [dogfooding doc](https://docs.google.com/document/d/12VIkn9-iet9nRUiLaQjT_Y9oR2ggOaREwxJ4twXSYjo/edit#)

[2022-04-12 14:43] austruong commented on #82
/cib Fix 3 Admin Approval Process Bugs Pt 2

[2022-04-12 14:43] ctc-devops commented on #82
Branch [82-fix-3-admin-approval-process-bugs-pt-2](https://github.com/ctc-uci/find-your-anchor-frontend/tree/82-fix-3-admin-approval-process-bugs-pt-2) created!

[2022-04-12 22:23] jeffcheema opened #107 "Navbar Mobile View"
- Implement mobile view for the navbar
- Follow Figma Design

[2022-04-12 22:23] claudeisakeeb opened #108 "Admin Approval Process Email Templates"
- Make email templates for
  - Boxed approved
  - Box moved to pending changes
  - Box rejected
- Send the appropriate template when box status is updated

[2022-04-12 22:24] sylvesteryue opened #109 "Change Relocate to Launched and Pickup to Found a Box"
- change form labels and any labels that refer to relocate/pick up to be relocate/found a box

[2022-04-12 22:25] sylvesteryue opened #110 "Add yup validation to Pending Changes section"
- add yup validation to the pending changes form section in the left side bar

[2022-04-12 22:26] claudeisakeeb opened #111 "Show all boxes on map"
- FYA told us that they want to display all relocated/picked up boxes on the map
- Currently, submitting a pickup box will set the show_on_map column in Anchor_Box to false, you can just straight up remove that column now
- Give pickup boxes the same behavior as relocation boxes when approved (copy information to its row in Anchor_Box)

[2022-04-12 22:26] meghakak opened #112 "Fix Auth Dogfooding Bugs"
Please fix bugs 22 and 23 on the [dogfooding doc](https://docs.google.com/document/d/12VIkn9-iet9nRUiLaQjT_Y9oR2ggOaREwxJ4twXSYjo/edit#)

[2022-04-12 22:27] meghakak opened #113 "Forms Mobile Views"
Please create the mobile views for all forms - Add Box Form, Relocate Box Form, Pickup Box Form

[2022-04-12 22:28] claudeisakeeb opened #114 "Admin Approval Process Mobile View"
- Reference [Figma](https://www.figma.com/file/y30pb19CamcegHG7Oh4lJC/FYA-Wireframes?node-id=713%3A4571)
- The BoxApproval component should take up the entire screen when clicked under mobile threshold (768px)

[2022-04-12 22:28] meghakak opened #115 "Profile Page Mobile View"
Please create the mobile view for the profile page and update the modals to follow the Figma design.

[2022-04-12 22:30] meghakak opened #116 "About Page Desktop & Mobile Views"
Please create the About Page for desktop and mobile views. The mobile view is basically the same as Desktop so hopefully that shouldn't take too long.

[2022-04-12 22:31] jeffcheema opened #117 "Upload CSV Pagination"
- Use pagination to display the rows when uploading a CSV

[2022-04-12 23:30] jennymylee commented on #111
/cib show-all

[2022-04-12 23:30] ctc-devops commented on #111
Branch [111-show-all](https://github.com/ctc-uci/find-your-anchor-frontend/tree/111-show-all) created!

[2022-04-13 00:19] Preston-Young commented on #117
/cib upload csv pagination

[2022-04-13 00:20] ctc-devops commented on #117
Branch [117-upload-csv-pagination](https://github.com/ctc-uci/find-your-anchor-frontend/tree/117-upload-csv-pagination) created!

[2022-04-13 00:33] claudeisakeeb commented on #108
/cib aap email templates

[2022-04-13 00:33] ctc-devops commented on #108
Branch [108-aap-email-templates](https://github.com/ctc-uci/find-your-anchor-frontend/tree/108-aap-email-templates) created!

[2022-04-13 17:27] dgardezi commented on #116
/cib about page

[2022-04-13 17:27] ctc-devops commented on #116
Branch [116-about-page](https://github.com/ctc-uci/find-your-anchor-frontend/tree/116-about-page) created!

[2022-04-13 17:55] meghakak commented on #112
/cib fix auth bugs

[2022-04-13 17:55] ctc-devops commented on #112
Branch [112-fix-auth-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/112-fix-auth-bugs) created!

[2022-04-13 22:54] jennymylee commented on #114
/cib aap-mobile

[2022-04-13 22:54] ctc-devops commented on #114
Branch [114-aap-mobile](https://github.com/ctc-uci/find-your-anchor-frontend/tree/114-aap-mobile) created!

[2022-04-13 23:15] austruong commented on #115
/cib Profile Page Mobile View

[2022-04-13 23:15] ctc-devops commented on #115
Branch [115-profile-page-mobile-view](https://github.com/ctc-uci/find-your-anchor-frontend/tree/115-profile-page-mobile-view) created!

[2022-04-14 04:12] sylvesteryue commented on #110
/cib pending-changes-yup-validation

[2022-04-14 04:13] ctc-devops commented on #110
Branch [110-pending-changes-yup-validation](https://github.com/ctc-uci/find-your-anchor-frontend/tree/110-pending-changes-yup-validation) created!

[2022-04-14 04:20] #111 closed, assigned to jennymylee

[2022-04-14 16:51] #79 closed, assigned to claudeisakeeb

[2022-04-14 22:23] merylmarasigan commented on #113
/cib forms mobile views

[2022-04-14 22:23] ctc-devops commented on #113
Branch [113-forms-mobile-views](https://github.com/ctc-uci/find-your-anchor-frontend/tree/113-forms-mobile-views) created!

[2022-04-15 07:55] #76 closed, assigned to aliu55

[2022-04-15 22:31] sylvesteryue commented on #109
/cib change relocate to launched pickup to found a box

[2022-04-15 22:31] ctc-devops commented on #109
Branch [109-change-relocate-to-launched-pickup-to-found-a-box](https://github.com/ctc-uci/find-your-anchor-frontend/tree/109-change-relocate-to-launched-pickup-to-found-a-box) created!

[2022-04-15 23:50] #78 closed, assigned to jennymylee

[2022-04-16 00:14] #82 closed, assigned to austruong

[2022-04-16 00:20] #112 closed, assigned to meghakak

[2022-04-16 21:57] #70 closed, assigned to claudeisakeeb

[2022-04-16 22:02] #75 closed, assigned to dgardezi

[2022-04-17 02:43] #109 closed, assigned to sylvesteryue

[2022-04-17 03:13] #110 closed, assigned to sylvesteryue

[2022-04-17 21:36] claudeisakeeb opened #131 "General User & Admin Dashboard High Fidelity & Mobile Views"
- Follow [Figma](https://www.figma.com/file/y30pb19CamcegHG7Oh4lJC/FYA-Wireframes) for dashboards
- Complete mobile views for general and admin dashboards
- Add country to right sidebar

[2022-04-17 21:41] meghakak opened #132 "Auth Email Templates"
- Create email templates for the authentication functionality
- Forgot Password, Reset Password, Register (Admin Invite)

[2022-04-17 21:43] claudeisakeeb opened #133 "Export CSV Mobile View"
- Follow [Figma](https://www.figma.com/file/y30pb19CamcegHG7Oh4lJC/FYA-Wireframes?node-id=713%3A4571)
- Do mobile views for export csv :D

[2022-04-17 21:44] aliu55 opened #134 "Toast Component for Mobile Views"
- Follow Figma for toast component mobile view design

[2022-04-18 16:57] austruong commented on #133
/cib Export CSV Mobile View

[2022-04-18 16:57] ctc-devops commented on #133
Branch [133-export-csv-mobile-view](https://github.com/ctc-uci/find-your-anchor-frontend/tree/133-export-csv-mobile-view) created!

[2022-04-18 20:37] claudeisakeeb commented on #131
/cib dashboard high

[2022-04-18 20:37] ctc-devops commented on #131
Branch [131-dashboard-high](https://github.com/ctc-uci/find-your-anchor-frontend/tree/131-dashboard-high) created!

[2022-04-20 03:13] dgardezi commented on #134
/cib toast mobile view

[2022-04-20 03:13] ctc-devops commented on #134
Branch [134-toast-mobile-view](https://github.com/ctc-uci/find-your-anchor-frontend/tree/134-toast-mobile-view) created!

[2022-04-22 01:06] #80 closed, assigned to merylmarasigan

[2022-04-22 01:18] #113 closed, assigned to meghakak, merylmarasigan

[2022-04-23 03:40] claudeisakeeb opened #138 "test issue"

[2022-04-23 03:40] claudeisakeeb commented on #138
test comment

[2022-04-23 03:41] claudeisakeeb commented on #138
/cib test branch

[2022-04-23 03:41] ctc-devops commented on #138
Branch [138-test-branch](https://github.com/ctc-uci/find-your-anchor-frontend/tree/138-test-branch) created!

[2022-04-23 20:56] #116 closed, assigned to dgardezi

[2022-04-23 20:58] #108 closed, assigned to claudeisakeeb

[2022-04-24 20:46] jeffcheema opened #140 "High Fidelity Profile Page Desktop & Mobile"
- Use Figma to update profile page to the high fidelity
- Ensure the new design is mobile and desktop friendly

[2022-04-24 20:48] aliu55 opened #141 "Upload CSV Use zip code data dump"
- Use zip code data dump to verify if zipcode exists in a country instead of the Nominatim API
- Zip code data dump: https://download.geonames.org/export/zip/

[2022-04-24 20:48] meghakak opened #142 "Add Box ID Verification Photo"
Add another field for box ID verification photo on the general user forms - Launch Box and Found a Box Forms

[2022-04-24 20:49] sylvesteryue opened #143 "Add style guides"
- update components to follow [style guide](https://www.figma.com/file/y30pb19CamcegHG7Oh4lJC/FYA-Wireframes?node-id=977%3A8530) by design

[2022-04-24 20:49] claudeisakeeb opened #144 "Last Transaction (Approve Box, History, Delete)"
- The recency of a transaction is determined by the date on the form submitted by the user (NOT the date the user submitted the form)
- Delete most recent transaction from Box_History
- Only copy box info from Box_History to Anchor_Box after admin approves a box if the date on the box is the most recent

[2022-04-24 20:50] aliu55 opened #145 "Upload CSV Mobile View & High Fidelity"
- follow Figma designs for Upload CSV mobile view and high fidelity

[2022-04-24 20:52] claudeisakeeb opened #146 "General + Admin Dashboard Pagination"
- Implement pagination for the left and right sidebars of the dashboard
- Reference https://github.com/ctc-uci/find-your-anchor-frontend/pull/91

[2022-04-26 17:46] Preston-Young commented on #145
/cib upload-csv-high-fidelity-mobile-view

[2022-04-26 17:46] ctc-devops commented on #145
Branch [145-upload-csv-high-fidelity-mobile-view](https://github.com/ctc-uci/find-your-anchor-frontend/tree/145-upload-csv-high-fidelity-mobile-view) created!

[2022-04-26 20:05] meghakak commented on #132
/cib auth-email-templates

[2022-04-26 20:05] ctc-devops commented on #132
Branch [132-auth-email-templates](https://github.com/ctc-uci/find-your-anchor-frontend/tree/132-auth-email-templates) created!

[2022-04-26 21:00] meghakak commented on #142
/cib add-box-id-verification

[2022-04-26 21:01] ctc-devops commented on #142
Branch [142-add-box-id-verification](https://github.com/ctc-uci/find-your-anchor-frontend/tree/142-add-box-id-verification) created!

[2022-04-27 17:59] #138 closed, assigned to claudeisakeeb

[2022-04-27 20:39] dgardezi commented on #140
/cib high fidelity profile page

[2022-04-27 20:40] ctc-devops commented on #140
Branch [140-high-fidelity-profile-page](https://github.com/ctc-uci/find-your-anchor-frontend/tree/140-high-fidelity-profile-page) created!

[2022-04-27 21:12] claudeisakeeb commented on #144
/cib last transaction

[2022-04-27 21:12] ctc-devops commented on #144
Branch [144-last-transaction](https://github.com/ctc-uci/find-your-anchor-frontend/tree/144-last-transaction) created!

[2022-04-28 02:10] #142 closed, assigned to meghakak, merylmarasigan

[2022-04-28 02:15] #132 closed, assigned to meghakak, merylmarasigan

[2022-04-28 02:18] dgardezi commented on #143
/cib style guides

[2022-04-28 02:18] ctc-devops commented on #143
Branch [143-style-guides](https://github.com/ctc-uci/find-your-anchor-frontend/tree/143-style-guides) created!

[2022-04-28 02:29] #77 closed, assigned to aliu55, jennymylee

[2022-04-28 23:05] jennymylee commented on #146
/cib gad-pagination

[2022-04-28 23:06] ctc-devops commented on #146
Branch [146-gad-pagination](https://github.com/ctc-uci/find-your-anchor-frontend/tree/146-gad-pagination) created!

[2022-04-29 19:54] #83 closed, assigned to Preston-Young

[2022-04-30 21:59] aliu55 commented on #141
/cib zipcode data dump

[2022-04-30 21:59] ctc-devops commented on #141
Branch [141-zipcode-data-dump](https://github.com/ctc-uci/find-your-anchor-frontend/tree/141-zipcode-data-dump) created!

[2022-04-30 22:34] #131 closed, assigned to claudeisakeeb, jennymylee

[2022-04-30 22:34] #114 closed, assigned to jennymylee

[2022-05-01 19:13] #146 closed, assigned to claudeisakeeb, jennymylee

[2022-05-01 23:42] #74 closed, assigned to kylerpan

[2022-05-02 22:56] meghakak opened #155 "Add Box ID Verification Photo to Admin Approval Process"

[2022-05-02 22:56] meghakak commented on #155
/cib aap-box-id-photo

[2022-05-02 22:57] ctc-devops commented on #155
Branch [155-aap-box-id-photo](https://github.com/ctc-uci/find-your-anchor-frontend/tree/155-aap-box-id-photo) created!

[2022-05-03 01:56] #145 closed, assigned to Preston-Young, aliu55

[2022-05-03 03:45] #141 closed, assigned to Preston-Young, aliu55

[2022-05-03 05:37] #155 closed, assigned to meghakak

[2022-05-04 07:41] #144 closed, assigned to claudeisakeeb, jennymylee

[2022-05-04 20:32] ZubairSidhu opened #157 "WIP: Dockerization"
**Do not merge**

Attempting to dockerize FYA frontend

[2022-05-04 20:32] ZubairSidhu commented on #157
/cib dockerization frontend

[2022-05-04 20:33] ctc-devops commented on #157
Branch [157-dockerization-frontend](https://github.com/ctc-uci/find-your-anchor-frontend/tree/157-dockerization-frontend) created!

[2022-05-04 22:10] meghakak opened #159 "Create 404 & 500 Error Pages"
desktop + mobile views

[2022-05-04 22:11] meghakak commented on #159
/cib error-pages

[2022-05-04 22:11] ctc-devops commented on #159
Branch [159-error-pages](https://github.com/ctc-uci/find-your-anchor-frontend/tree/159-error-pages) created!

[2022-05-04 23:44] claudeisakeeb opened #161 "Hotfix: deleting boxes not working"
- Reformat zip code data structure

[2022-05-04 23:45] claudeisakeeb commented on #161
/cib fix zipcode

[2022-05-04 23:45] ctc-devops commented on #161
Branch [161-fix-zipcode](https://github.com/ctc-uci/find-your-anchor-frontend/tree/161-fix-zipcode) created!

[2022-05-05 07:26] #107 closed, assigned to jeffcheema

[2022-05-05 07:43] #159 closed, assigned to meghakak

[2022-05-06 06:07] #161 closed, assigned to nobody

[2022-05-06 06:36] #143 closed, assigned to dgardezi

[2022-05-06 21:03] #133 closed, assigned to sylvesteryue, austruong

[2022-05-06 21:09] #117 closed, assigned to Preston-Young, aliu55

[2022-05-06 22:21] #85 closed, assigned to jeffcheema

[2022-05-06 22:21] #134 closed, assigned to jeffcheema, dgardezi

[2022-05-06 22:23] #115 closed, assigned to austruong

[2022-05-06 22:23] #140 closed, assigned to dgardezi

[2022-05-07 20:05] #51 closed, assigned to jeffcheema

[2022-05-07 20:05] meghakak opened #163 "Create Loading Page"
- Create loading page based on figma design
- Add to all pages
- Replace other loading screens

[2022-05-07 20:05] #104 closed, assigned to Preston-Young, aliu55

[2022-05-07 20:05] claudeisakeeb opened #164 "Move Pagination to backend (AAP, right sidebar)"
- Remove the common pagination controller from the frontend
- Implement backend pagination using LIMIT and OFFSET keywords

[2022-05-07 20:06] meghakak opened #165 "Integrate Style Guide: Forms, Profile, About Pages"
- Integrate colors and fonts from style guide into all forms, profile page, and about page

[2022-05-07 20:08] meghakak opened #166 "Pick 3 Bugs: Forms, Profile, About"
- Add a comment to this issue with the bug numbers you fixed from [Find Your Shrek](https://docs.google.com/document/d/1f3dqxzRCiNGZ2yWU_FtyrNNjUOFZ8lxiEuXo958NVDM/edit?pli=1#)
- Mark them as WIP while working and DONE when finished

[2022-05-07 20:08] sylvesteryue opened #167 "Finish Export CSV Mobile View"
- Finish up Export CSV Mobile view with changes that design has made on [Figma](https://www.figma.com/file/y30pb19CamcegHG7Oh4lJC/FYA-Wireframes?node-id=713%3A4571)

[2022-05-07 20:08] claudeisakeeb opened #168 "Integrate Style Guide - Admin & General User Dashboard"
- Integrate style guide for buttons

[2022-05-07 20:09] sylvesteryue opened #169 "Integrate Style Guide - Export CSV"
- integrate style guide for Export CSV and CSV Preview

[2022-05-07 20:10] sylvesteryue opened #170 "Pick 3 Bugs: Export CSV"
- pick 3 bugs for Export CSV from the [Find Your Bugs ](https://docs.google.com/document/d/1f3dqxzRCiNGZ2yWU_FtyrNNjUOFZ8lxiEuXo958NVDM/edit#heading=h.57deawcull14)doc
- detail which 3 bugs you are fixing in the PR comments

[2022-05-07 20:10] claudeisakeeb opened #171 "Fix 3 bugs from Admin & General User Dashboard"
- Pick 3 bugs from the [Find Your Bugs](https://docs.google.com/document/d/1f3dqxzRCiNGZ2yWU_FtyrNNjUOFZ8lxiEuXo958NVDM/edit#) document
- Comment which 3 bugs you fix
- Mark the 3 fixed bugs as done on the document

[2022-05-07 20:12] sylvesteryue opened #172 "Move Upload CSV Processing to Backend"
- move the logic for Upload CSV from the frontend to the backend

[2022-05-07 20:15] sylvesteryue opened #173 "Integrate Style Guide - Upload CSV"
- implement style guide for Upload CSV pages
- Address the comments about Upload CSV on the [FYA Change Log](https://docs.google.com/document/d/19Hsa-zn2we4xdwYrZHAFy-t16yhSkQdcOmvtLIB3b7s/edit#heading=h.y343ctbmdkf5)
  - typography/button placement for the csv preview page (desktop)
  - Upload CSV Preview: “Go to Page: _” as an input instead of default 1

  ![image](https://user-images.githubuser

[2022-05-07 20:15] meghakak opened #174 "Integrate Style Guide: Auth Pages"
- Integrate colors and fonts from style guide into all auth pages
- Register, login, reset password, forgot password

[2022-05-07 20:16] meghakak opened #175 "Pick 3 Bugs: Auth Pages"
- Add a comment to this issue with the bug numbers you fixed from [Find Your Shrek](https://docs.google.com/document/d/1f3dqxzRCiNGZ2yWU_FtyrNNjUOFZ8lxiEuXo958NVDM/edit?pli=1#)
- Mark them as WIP while working and DONE when finished

[2022-05-07 20:18] sylvesteryue opened #176 "Pick 3 Bugs from Upload CSV"
- pick 3 bugs to fix for Upload CSV from the [Find You Bugs](https://docs.google.com/document/d/1f3dqxzRCiNGZ2yWU_FtyrNNjUOFZ8lxiEuXo958NVDM/edit#heading=h.57deawcull14) doc
- comment the 3 bugs fixed in the PR comments

[2022-05-09 23:16] claudeisakeeb commented on #164
/cib aap backend pag

[2022-05-09 23:16] ctc-devops commented on #164
Branch [164-aap-backend-pag](https://github.com/ctc-uci/find-your-anchor-frontend/tree/164-aap-backend-pag) created!

[2022-05-10 23:43] Preston-Young commented on #176
/cib fix upload csv bugs

[2022-05-10 23:43] ctc-devops commented on #176
Branch [176-fix-upload-csv-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/176-fix-upload-csv-bugs) created!

[2022-05-11 22:46] aliu55 commented on #172
/cib move-upload-csv-to-frontend

[2022-05-11 22:47] ctc-devops commented on #172
Branch [172-move-upload-csv-to-frontend](https://github.com/ctc-uci/find-your-anchor-frontend/tree/172-move-upload-csv-to-frontend) created!

[2022-05-12 08:59] sylvesteryue commented on #167
/cib finish export csv mobile view

[2022-05-12 08:59] ctc-devops commented on #167
Branch [167-finish-export-csv-mobile-view](https://github.com/ctc-uci/find-your-anchor-frontend/tree/167-finish-export-csv-mobile-view) created!

[2022-05-12 18:58] dgardezi commented on #175
/cib auth page bugs

[2022-05-12 18:58] ctc-devops commented on #175
Branch [175-auth-page-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/175-auth-page-bugs) created!

[2022-05-12 19:58] meghakak commented on #166
/cib fix-forms-profile-about-bugs

[2022-05-12 19:58] ctc-devops commented on #166
Branch [166-fix-forms-profile-about-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/166-fix-forms-profile-about-bugs) created!

[2022-05-12 19:58] meghakak commented on #165
/cib forms-profile-about-style-guide

[2022-05-12 19:58] meghakak commented on #163
/cib create-loading-page

[2022-05-12 19:58] ctc-devops commented on #165
Branch [165-forms-profile-about-style-guide](https://github.com/ctc-uci/find-your-anchor-frontend/tree/165-forms-profile-about-style-guide) created!

[2022-05-12 19:59] ctc-devops commented on #163
Branch [163-create-loading-page](https://github.com/ctc-uci/find-your-anchor-frontend/tree/163-create-loading-page) created!

[2022-05-12 23:08] claudeisakeeb commented on #171
/cib 3 bug dash

[2022-05-12 23:08] ctc-devops commented on #171
Branch [171-3-bug-dash](https://github.com/ctc-uci/find-your-anchor-frontend/tree/171-3-bug-dash) created!

[2022-05-13 19:07] #164 closed, assigned to claudeisakeeb, jennymylee

[2022-05-13 21:21] dgardezi commented on #174
/cib auth page style guide

[2022-05-13 21:21] ctc-devops commented on #174
Branch [174-auth-page-style-guide](https://github.com/ctc-uci/find-your-anchor-frontend/tree/174-auth-page-style-guide) created!

[2022-05-14 18:00] claudeisakeeb commented on #168
/cib dashboard style guide

[2022-05-14 18:00] ctc-devops commented on #168
Branch [168-dashboard-style-guide](https://github.com/ctc-uci/find-your-anchor-frontend/tree/168-dashboard-style-guide) created!

[2022-05-14 22:06] austruong commented on #170
/cib pick 3 bugs export csv

[2022-05-14 22:06] ctc-devops commented on #170
Branch [170-pick-3-bugs-export-csv](https://github.com/ctc-uci/find-your-anchor-frontend/tree/170-pick-3-bugs-export-csv) created!

[2022-05-15 08:23] austruong commented on #170
Fixed 3 bugs for Export CSV:

    Bug #36: Export CSV: Boxes are not sorted chronologically**
    Bug #16: Export CSV: All box details should be checked on page load
    Bug #45: Export CSVView Launched Organically Checkmark isn’t Centered

** I'm not seeing/encountering the same chronology sorting issues as stated in the bug listing, and all other Sort By options function as intended, so for now

[2022-05-15 21:03] meghakak opened #189 "Fix All Forms Bugs & High Fidelity Forms"
- Fix all bugs on the [Find Your Shrek](https://docs.google.com/document/d/1f3dqxzRCiNGZ2yWU_FtyrNNjUOFZ8lxiEuXo958NVDM/edit?pli=1#heading=h.pylkt3kz9rjv) doc that are related to general and admin forms.
- Implement changes in [FYA Change Log](https://docs.google.com/document/d/19Hsa-zn2we4xdwYrZHAFy-t16yhSkQdcOmvtLIB3b7s/edit#)
- Apply high fidelity to forms

[2022-05-15 21:03] claudeisakeeb opened #190 "Fix All General & Admin Dashboard Bugs"
- Fix All General & Admin Dashboard Bugs
- Make sure that everything matches the Figma

[2022-05-15 21:04] meghakak opened #191 "Fix All Export CSV Bugs"
- Fix all bugs on the [Find Your Shrek](https://docs.google.com/document/d/1f3dqxzRCiNGZ2yWU_FtyrNNjUOFZ8lxiEuXo958NVDM/edit?pli=1#heading=h.pylkt3kz9rjv) doc that are related to export csv.

[2022-05-15 21:06] meghakak opened #192 "Fix All Navbar & Footer Bugs"
Fix all bugs on the [Find Your Shrek](https://docs.google.com/document/d/1f3dqxzRCiNGZ2yWU_FtyrNNjUOFZ8lxiEuXo958NVDM/edit?pli=1#heading=h.pylkt3kz9rjv) doc that are related to the navbar and footer.

[2022-05-15 21:06] claudeisakeeb opened #193 "Add Toasts for All Remaining Components"
- Add Toasts for All Remaining Components
- sorry jeff

[2022-05-15 21:09] aliu55 opened #194 "Add Pagination to Export CSV Preview Table"
- add pagination to export csv preview table

[2022-05-15 21:26] aliu55 commented on #173
/cib upload csv style guide

[2022-05-15 21:26] ctc-devops commented on #173
Branch [173-upload-csv-style-guide](https://github.com/ctc-uci/find-your-anchor-frontend/tree/173-upload-csv-style-guide) created!

[2022-05-15 21:27] aliu55 commented on #194
/cib add pagination to export csv

[2022-05-15 21:27] ctc-devops commented on #194
Branch [194-add-pagination-to-export-csv](https://github.com/ctc-uci/find-your-anchor-frontend/tree/194-add-pagination-to-export-csv) created!

[2022-05-16 00:24] #171 closed, assigned to claudeisakeeb, jennymylee

[2022-05-16 22:18] claudeisakeeb opened #197 "Hotfix: Delete box"

[2022-05-16 22:18] claudeisakeeb commented on #197
/cib hotfix delete box

[2022-05-16 22:19] ctc-devops commented on #197
Branch [197-hotfix-delete-box](https://github.com/ctc-uci/find-your-anchor-frontend/tree/197-hotfix-delete-box) created!

[2022-05-16 22:48] #197 closed, assigned to nobody

[2022-05-16 23:19] claudeisakeeb opened #199 "Hotfix: Add box doesn't add row to Box_History"

[2022-05-16 23:19] claudeisakeeb commented on #199
/cib hotfix add box

[2022-05-16 23:19] ctc-devops commented on #199
Branch [199-hotfix-add-box](https://github.com/ctc-uci/find-your-anchor-frontend/tree/199-hotfix-add-box) created!

[2022-05-16 23:37] #168 closed, assigned to claudeisakeeb, jennymylee

[2022-05-16 23:51] claudeisakeeb opened #201 "Hotfix: delete box v2"

[2022-05-16 23:51] claudeisakeeb commented on #201
/cib hotfix delete box v2

[2022-05-16 23:51] ctc-devops commented on #201
Branch [201-hotfix-delete-box-v2](https://github.com/ctc-uci/find-your-anchor-frontend/tree/201-hotfix-delete-box-v2) created!

[2022-05-17 06:21] #201 closed, assigned to nobody

[2022-05-17 07:19] #199 closed, assigned to nobody

[2022-05-17 07:46] #163 closed, assigned to meghakak, merylmarasigan

[2022-05-17 08:01] #165 closed, assigned to meghakak, merylmarasigan

[2022-05-17 08:08] #166 closed, assigned to meghakak, merylmarasigan

[2022-05-17 22:34] claudeisakeeb commented on #190
/cib all admin general bugs

[2022-05-17 22:35] ctc-devops commented on #190
Branch [190-all-admin-general-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/190-all-admin-general-bugs) created!

[2022-05-17 23:04] meghakak commented on #189
/cib fix-forms-bugs

[2022-05-17 23:04] ctc-devops commented on #189
Branch [189-fix-forms-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/189-fix-forms-bugs) created!

[2022-05-18 04:41] #172 closed, assigned to Preston-Young, aliu55

[2022-05-18 19:52] #176 closed, assigned to Preston-Young, aliu55

[2022-05-19 18:16] dgardezi commented on #192
/cib navbar footer bugs

[2022-05-19 18:16] ctc-devops commented on #192
Branch [192-navbar-footer-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/192-navbar-footer-bugs) created!

[2022-05-19 22:57] meghakak opened #206 "Change All Names to Celine Dion"

[2022-05-19 22:58] meghakak commented on #206
/cib celine-dion

[2022-05-19 22:58] ctc-devops commented on #206
Branch [206-celine-dion](https://github.com/ctc-uci/find-your-anchor-frontend/tree/206-celine-dion) created!

[2022-05-20 18:32] #173 closed, assigned to Preston-Young, aliu55

[2022-05-20 20:09] dgardezi commented on #193
/cib add remaining toasts

[2022-05-20 20:09] ctc-devops commented on #193
Branch [193-add-remaining-toasts](https://github.com/ctc-uci/find-your-anchor-frontend/tree/193-add-remaining-toasts) created!

[2022-05-21 07:55] sylvesteryue commented on #169
/cib export csv style guide

[2022-05-21 07:56] ctc-devops commented on #169
Branch [169-export-csv-style-guide](https://github.com/ctc-uci/find-your-anchor-frontend/tree/169-export-csv-style-guide) created!

[2022-05-21 22:26] austruong commented on #191
/cib fix all export csv bugs

[2022-05-21 22:27] ctc-devops commented on #191
Branch [191-fix-all-export-csv-bugs](https://github.com/ctc-uci/find-your-anchor-frontend/tree/191-fix-all-export-csv-bugs) created!

[2022-05-24 23:14] #170 closed, assigned to sylvesteryue, austruong

[2022-05-26 18:28] #194 closed, assigned to Preston-Young, aliu55

[2022-05-26 23:08] claudeisakeeb opened #213 "Add image to history"
- Add box history view to right side bar
- https://docs.google.com/spreadsheets/d/13rHaiUzafgnBje6cFUPaCKFpp_olotagNXjYSCAIgWE/edit#gid=0

[2022-05-26 23:10] claudeisakeeb commented on #213
/cib image history

[2022-05-26 23:10] ctc-devops commented on #213
Branch [213-image-history](https://github.com/ctc-uci/find-your-anchor-frontend/tree/213-image-history) created!

[2022-05-27 23:20] #190 closed, assigned to claudeisakeeb, jennymylee

[2022-05-28 19:39] jennymylee opened #215 "Change Map"
Replace map with this one: https://leaflet-extras.github.io/leaflet-providers/preview/#filter=Stadia.Outdoors

[2022-05-28 19:40] jennymylee commented on #215
/cib change map

[2022-05-28 19:40] ctc-devops commented on #215
Branch [215-change-map](https://github.com/ctc-uci/find-your-anchor-frontend/tree/215-change-map) created!

[2022-05-28 19:50] #215 closed, assigned to jennymylee

[2022-05-28 19:57] #206 closed, assigned to meghakak

[2022-05-29 19:56] #167 closed, assigned to sylvesteryue, austruong

[2022-05-30 06:34] claudeisakeeb commented on #213
Closing because FYA wants box transaction to take up entire right sidebar with all details

[2022-05-30 06:34] #213 closed, assigned to claudeisakeeb, jennymylee

[2022-05-30 06:36] claudeisakeeb opened #217 "Show all details for box history transaction"
Make box transaction take up entire right sidebar with all details

[2022-05-30 22:37] claudeisakeeb commented on #217
/cib show history details

[2022-05-30 22:37] ctc-devops commented on #217
Branch [217-show-history-details](https://github.com/ctc-uci/find-your-anchor-frontend/tree/217-show-history-details) created!

[2022-05-31 03:13] #174 closed, assigned to jeffcheema, dgardezi

[2022-05-31 03:27] #189 closed, assigned to meghakak, merylmarasigan

[2022-05-31 05:05] austruong commented on #191
Fixed bugs 16, 36, 40, 45, 47 and merged with dev branch

[2022-06-01 19:48] #217 closed, assigned to claudeisakeeb, jennymylee

[2022-06-01 19:56] #191 closed, assigned to sylvesteryue, austruong

[2022-06-07 18:14] #192 closed, assigned to jeffcheema, dgardezi

[2022-06-07 18:16] #193 closed, assigned to jeffcheema, dgardezi

[2022-06-08 05:24] #175 closed, assigned to jeffcheema, dgardezi

[2022-06-10 00:26] #169 closed, assigned to sylvesteryue, austruong

[2022-06-18 02:00] meghakak opened #221 "Final About Page Edits"

[2022-06-18 02:00] meghakak commented on #221
/cib final-edits

[2022-06-18 02:01] ctc-devops commented on #221
Branch [221-final-edits](https://github.com/ctc-uci/find-your-anchor-frontend/tree/221-final-edits) created!

[2022-06-18 03:30] #221 closed, assigned to meghakak, claudeisakeeb, dgardezi, sylvesteryue

[2022-06-28 04:08] claudeisakeeb opened #223 "Spacing edits"

[2022-06-28 04:09] claudeisakeeb commented on #223
/cib spacing edits

[2022-06-28 04:10] ctc-devops commented on #223
Branch [223-spacing-edits](https://github.com/ctc-uci/find-your-anchor-frontend/tree/223-spacing-edits) created!

[2022-06-28 20:37] #223 closed, assigned to nobody

[2022-08-30 23:43] #98 closed, assigned to ZubairSidhu, Vakhshoori101

[2022-08-30 23:43] #101 closed, assigned to ZubairSidhu

[2022-08-30 23:43] #157 closed, assigned to ZubairSidhu, Vakhshoori101

[2022-08-30 23:44] ZubairSidhu opened #227 "Deployment config"
Minor config required for deployment

[2022-08-30 23:44] ZubairSidhu commented on #227
/cib deployment config

[2022-08-30 23:45] ctc-devops commented on #227
Branch [227-deployment-config](https://github.com/ctc-uci/find-your-anchor-frontend/tree/227-deployment-config) created!

[2022-09-05 20:40] claudeisakeeb opened #233 "issue title"
issue description

[2022-09-05 20:41] claudeisakeeb commented on #233
/cib pr title

[2022-09-05 20:41] ctc-devops commented on #233
Branch [233-pr-title](https://github.com/ctc-uci/find-your-anchor-frontend/tree/233-pr-title) created!

[2022-09-05 20:46] claudeisakeeb commented on #233
/cib issue title 2

[2022-09-05 20:46] ctc-devops commented on #233
Branch [233-issue-title-2](https://github.com/ctc-uci/find-your-anchor-frontend/tree/233-issue-title-2) created!